{namespace JIRA.Templates.ProjectTemplates.Rehabstudio}

/**
 * Render the information page for the rehabstudio Project Template plugin
 */
{template .renderProjectTemplateExplanation}
<p>Howdy! Give Peter McConnell a shout if you get lost - he's a handsome player, wise to the ways of JIRA.</p>
{/template}