{namespace JIRA.Templates.ProjectTemplates.Rehabstudio}

/**
 * Render the information page for the rehabstudio Project Template plugin
 */
{template .renderProjectTemplateExplanation}
<p>This wizard will create the JIRA project and Agile board for you. Once 
finished, please 'Configure Board' to add in extra columns (eg. Pending 
Deploy, Pending Review) and make any other custom tweaks.</p>
<p>If you have any questions, please give Pete McConnell a shout.</p>
{/template}